body{
    background-image: url("../images/amazing-ocean-background-pictures-2048x1280.jpg");
    margin-bottom: 5em;
}

#naviGator{
    background-color: #ffffff;
    border-bottom: solid;
    border-bottom-width: 0.0625em;
    border-color: #808080;
    overflow: auto;
    z-index: 1;
}

#name{
    z-index: 3;
}

h1{
    margin: 6px auto;
    float:left;
    padding: 1em;
    background-color:#4aaaa5;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    box-shadow: 4px 4px 0px 0px #20202069;
    border: .0325em solid #054744; 
    font-family: 'Amatic SC', cursive;
    border-radius: 3px;
    

}

.directory{
    /* float: right; */
    color: #0f90b4;
    margin-top: 2em;
    font: bolder;
    font-size: 1em;
    font-weight: bold;
}

.directory li{
    font-size: 1.8em;
    list-style: none;
    display: inline-block;
    color: #b8ffff;
    font-family: 'Amatic SC', cursive;
    margin: 0em 0.5em 0em;
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.788); */
    font: bolder;
}

.directory a{
    color: #0cb9e8;
    font-size: 0.8em;
    cursor: pointer;
}

.directory a:hover{
    color: #f700ff;
}

.mouseover{
    background-color: #f700ff;
    border-radius: 20%;
    color: white;  
}

#page-contents-background{
    background-color: #3c6d79;
    margin-top: 2em;
    padding: 1em;
    border-style: inset;
    border-width: .0625em;
    border-color: #838181;
    overflow: auto;
    border-radius: 25px;
    position:absolute;
    z-index: 1;
    width:96%;
    height: 95%;
    box-shadow: 10px 8px 2px 2px #000000a2;
    opacity: 0.77;
    background-blend-mode: exclusion;
    
}

#page-contents{
    background-color: transparent;
    /* margin: auto; */
    margin-top: 2em;
    /* width: 58em;  */
    padding: 1em;
    /* border-style: solid;
    border-width: .0625em; */
    overflow: auto;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    background-blend-mode: exclusion;
}

#page-contents p{
    font-family: 'Amatic SC', cursive;
    line-height: 1.5em;
    color: white;
    font-size: 1.2em;
    font-weight: 1000;
}

.subheader1{
    border-bottom: solid;
    color: whitesmoke;
    /* margin-bottom: 0.75em; */
}

h2{
    color:  whitesmoke;
    font-size: 2em;
    margin-bottom: 0.75em;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

img{
    width: 15.675em;
    height: 12.5em;

}

#pic1{
    float: left;
    margin: 2em 1.5em 0.5em 1em;
    margin-top: 1em;
    border-radius: 4px;
    box-shadow: 4px 4px rgba(48, 47, 47, 0.431)
}

#p1{
    margin-top: 1em;
}

footer{
    font-size: large;
    font-family: 'Fredericka the Great', cursive;
    border-top: solid;
    border-top-width: thick;
    border-color: #6d6b6b;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    padding: 0.75em;
    padding-top:1em;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 4;
}

/* CONTACT */

#contact-box{
    background-color: #ffffff;
    margin: auto;
    margin-top: 2em;
    width: 58em; 
    padding: 1em;
    border-style: solid;
    border-width: .0625em;
    border-color: #666666;
    overflow: auto;
}

#form-1{
    margin-top: 2em;
}

form p{
    text: 1em;
    font-family: 'Amatic SC', cursive;
    color: #666666;
}

.text-box {
    width: 100%;
    padding: 0.75em 0em;
    border-radius: 25px;
}
#message-box{
    height: 12.5em;
    }

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 0.5em 2em;
    font-size: 1.1em;
    font-family: 'Amatic SC', cursive;
    font-weight: 1000;
    cursor: pointer;
    border-radius: 25px;
}

#submit:hover{
    background-color: #0cb9e8;
}
#submit:active{
    background-color: #2d6e7f;
}

/*PORTFOLIO STYLE */


/*this is the labels of the pictures*/
.label{
    position: relative;
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 0.8em 0em;
    width: 100%;
    bottom: 0.5em;
}

/* this is my container class for the image and the text divs  */
.thumbnail{
    float: left;
    /* position: relative; */
    margin: 3em 2em 1em 3em;
    border-style: ridge;
    border-width: .0625em;
    border-color: #f3eeee;
    overflow: auto;
    /* not sure why my images are not filling the divs... */
    background-image: cover;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(68, 66, 66, 0.52);
}

/* this makes the image go behind the text banner */
.gallery img{
    z-index:-1;
}

/* #pic4{
    transform: rotate(90deg);
    /* not sure why my images are not filling the divs... */
    object-fit: contain;   
} */